
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khang Khang </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body style="overflow: auto;">
<div class="content">
    <div class = "container">
  
        <section id="about" class="section section-about wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="profile">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="photo-profile">
                                <img src="images/avatar.jpg" alt="Trinh Khang">
                            </div>
                            <a href="/cv" target="cv">
                                <div class="download-resume">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    <span class="text-download">DOWNLOAD RESUME</span>
                                </div>
                            </a>
                            <div class="available">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span class="text-available">available on freelance</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="info-profile">
                                <h2><span>HI I'M</span> Trinh Ngoc Khang</h2>
                                <h3>Web developer &amp; Game developer</h3>
                                <p>Hello! I’m Khang. Welcome to my website.I've started and relished coding from 2016.
                                My programming languages are : JavaScript,Java,C#,C/C++ and
                                i'm also good at Nodejs,Unity,Reactjs.Becoming a fullstack developer and creating good sofware for everyone are my goals.     
                                This website will show you some project i can public and something about me.Hope you enjoy it!
                                
                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="ul-info">
                                            <li class="li-info">
                                                <span class="title-info">Age</span>
                                                <span class="info">20</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Address</span>
                                                <span class="info">Thanh Xuan,Ha Noi</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Email</span>
                                                <span class="info">20168267@sie.edu.vn</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="ul-info">
                                            <li class="li-info">
                                                <span class="title-info">Phone</span>
                                                <span class="info">+84964419119</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Website</span>
                                                <span class="info">www.khangkhang.me</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Nationality</span>
                                                <span class="info">Viet Nam</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="title-links">Social Links</span>
                                        <ul class="ul-social-links">
                                            <li class="li-social-links">
                                                <a href="https://www.facebook.com/khang.trinhngoc" data-tootik="Facebook" data-tootik-conf="square"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="https://github.com/trinhngockhang" data-tootik="Github" data-tootik-conf="square"><i class="fab fa-github" aria-hidden="true"></i></a>
                                            </li>
                                            
                                            <li class="li-social-links">
                                                    <a href="https://play.google.com/store/apps/developer?id=Khang+Khang" data-tootik="Linkedin" data-tootik-conf="square"><i class="fab fa-google-play" aria-hidden="true"></i></a>
                                                </li>
                                            <li class="li-social-links">
                                                <a href="https://plus.google.com/107219708156694103005?hl=vi" data-tootik="Google Plus" data-tootik-conf="square"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section id="education" class="section section-education wow fadeInUp" data-wow-offset="40" style="visibility: visible; animation-name: fadeInUp;">
            <div class="header-section">
                <h2 class="h2-section">Game</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="education-content">                        
                        <div class="period">
                            <h3>Pacman</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fas fa-link"></i></span>
                                    <a href="https://drive.google.com/drive/folders/1imxOkgcepeiGvyX4aUyxGIUrJRRkEVlh" ><span class="specialty-name">Link file rar</span> </a>
                                </div>
                            </li>
                            <li class="li-university">
                                <div class="university">
                                </div>
                            </li>
                        </ul>
                        <img class = "demoimage" src = "/images/pacman.PNG"></img>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                        <div style="width:100%;display:inline-block;vertical-align:middle;">
                                <a href="/detail-luyenthidaihoc">
                                    <button class="btn-buy-now" >More</button>
                                </a>
                        </div>
                    </div>
                </div>
                <!-- / single education -->
                <!-- single education -->
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>Size of brain</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fas fa-link"></i></span>
                                    <a href="http://vatcss.info/TechKidsHackathons/Web6.0/SizeOfBrain/" ><span class="specialty-name">Link online</span> </a>
                                </div>
                            </li>
                        </ul>
                        <img class = "demoimage" src = "/images/size.PNG"></img>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                        <div style="width:100%;display:inline-block;vertical-align:middle;">
                                <a href="/detail-luyenthidaihoc">
                                    <button class="btn-buy-now" >More</button>
                                </a>
                        </div>
                    </div>
                </div>
                <!-- / single education -->
                <!-- single education -->
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>Drop it</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fas fa-link"></i></span>
                                    <a href="https://khanghocgioi.itch.io/drop-it" ><span class="specialty-name">Link online</span> </a>
                                </div>
                            </li>
                        </ul>
                        <img class = "demoimage" src = "/images/bird.PNG"></img>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                        <div style="width:100%;display:inline-block;vertical-align:middle;">
                                <a href="/detail-luyenthidaihoc">
                                    <button class="btn-buy-now" >More</button>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                        <div class="education-content">
                            <div class="period">
                                <h3>Tank online</h3>
                            </div>
                            <ul class="ul-education">
                                <li class="li-specialty">
                                    <div class="specialty">
                                        <span class="education-icon"><i class="fas fa-link"></i></span>
                                        <a href="https://khanghocgioi.itch.io/tank-online" ><span class="specialty-name">Link download</span> </a>
                                    </div>
                                </li>
                            </ul>
                            <img class = "demoimage" src = "/images/tank.PNG"></img>
                            <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                            <div style="width:100%;display:inline-block;vertical-align:middle;">
                                    <a href="/detail-luyenthidaihoc">
                                        <button class="btn-buy-now" >More</button>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="education-content">
                                <div class="period">
                                    <h3>Colorful boolean</h3>
                                </div>
                                <ul class="ul-education">
                                    <li class="li-specialty">
                                        <div class="specialty">
                                            <span class="education-icon"><i class="fas fa-link"></i></span>
                                            <a href="https://play.google.com/store/apps/details?id=com.KhangKhang.MathSwitch" ><span class="specialty-name">Link CH play</span> </a>
                                        </div>
                                    </li>
                                </ul>
                                <img class = "demoimage" src = "/images/color.PNG"></img>
                                <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                                <div style="width:100%;display:inline-block;vertical-align:middle;">
                                        <a href="/detail-luyenthidaihoc">
                                            <button class="btn-buy-now" >More</button>
                                        </a>
                                </div>
                            </div>
                        </div>
                <!-- / single education -->
                <div class="clearfix"></div>
                
                <div class="clearfix"></div>
            </div>
        </section>

        <section id="education" class="section section-education wow fadeInUp" data-wow-offset="40" style="visibility: visible; animation-name: fadeInUp;">
                <div class="header-section">
                    <h2 class="h2-section">Web</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="education-content">                        
                            <div class="period">
                                <h3>Graduation exit exam</h3>
                            </div>
                            <ul class="ul-education">
                                <li class="li-specialty">
                                    <div class="specialty">
                                        <span class="education-icon"><i class="fas fa-link"></i></span>
                                        <a href="luyenthidaihoc.herokuapp.com" ><span class="specialty-name">luyenthidaihoc.herokuapp.com</span> </a>
                                        
                                    </div>
                                </li>
                                <li class="li-university">
                                    <div class="university">
                                    </div>
                                </li>
                            </ul>
                            <img class = "demoimage" src = "/images/luyenthi.PNG"></img>
                            <p class="prg-education">This website simmulates the graduation exit exam and gives you the correct score of the test</p>
                            <p>Technology:Nodejs</p>
                            <div style="width:100%;display:inline-block;vertical-align:middle;">
                                    <a href="/detail-luyenthidaihoc">
                                        <button class="btn-buy-now" >More</button>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <!-- / single education -->
                    <!-- single education -->
                    <div class="col-sm-4">
                        <div class="education-content">
                            <div class="period">
                                <h3>Hoang Quy web</h3>
                            </div>
                            <ul class="ul-education">
                                <li class="li-specialty">
                                    <div class="specialty">
                                        <span class="education-icon"><i class="fas fa-link"></i></span>
                                        <a href="maichehoangquy.com" ><span class="specialty-name">maichehoangquy.com</span> </a>
                                    </div>
                                </li>
                            </ul>
                            <img class = "demoimage" src = "/images/hoangquy.PNG"></img>
                            <p class="prg-education">This website shows Hoang Quy company's product and sorts it by the category.</p>
                            <p>Technology:WordPress</p>
                            <div style="width:100%;display:inline-block;vertical-align:middle;">
                                    <a href="/detail-luyenthidaihoc">
                                        <button class="btn-buy-now" >More</button>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <!-- / single education -->
                    <!-- single education -->
                    <div class="col-sm-4">
                        <div class="education-content">
                            <div class="period">
                                <h3>MH Stone web</h3>
                            </div>
                            <ul class="ul-education">
                                <li class="li-specialty">
                                    <div class="specialty">
                                        <span class="education-icon"><i class="fas fa-link"></i></span>
                                        <a href="mhstone.herokuapp.com" ><span class="specialty-name">MH stone</span> </a>
                                    </div>
                                </li>
                            </ul>
                            <img class = "demoimage" src = "/images/mhstone.PNG"></img>
                            <p class="prg-education">This website shows Hoang Quy company's product and sorts it by the category.</p>
                            <p>Technology:Nodejs,Reactjs</p>
                            <div style="width:100%;display:inline-block;vertical-align:middle;">
                                    <a href="/detail-luyenthidaihoc">
                                        <button class="btn-buy-now" >More</button>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <!-- / single education -->
                    <div class="clearfix"></div>
                    
                    <div class="clearfix"></div>
                </div>
            </section>

   </div>   

   

</div> 
</body>
</html>