
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Khang's website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body style="overflow: auto;">
<div class="content">
    <div class = "container">
  
        <section id="about" class="section section-about wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="profile">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="photo-profile">
                                <img src="images/avatar.jpg" alt="Trinh Khang">
                            </div>
                            <a href="cv/cv-1.pdf" target="cv">
                                <div class="download-resume">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    <span class="text-download">DOWNLOAD RESUME</span>
                                </div>
                            </a>
                            <div class="available">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span class="text-available">available on freelance</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="info-profile">
                                <h2><span>HI I'M</span> Trinh Ngoc Khang</h2>
                                <h3>web developer &amp; game developer</h3>
                                <p>Hello! I’m Khang. Web Developer with over 8 years of experience.
                                Experienced with all stages of the development cycle for dynamic web projects.
                                Having an in-depth knowledge including advanced HTML5, CSS3, JavaScript, jQuery, Angular JS. Strong background in management and leadership.</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="ul-info">
                                            <li class="li-info">
                                                <span class="title-info">Age</span>
                                                <span class="info">20</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Address</span>
                                                <span class="info">Thanh Xuan,Ha Noi</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Email</span>
                                                <span class="info">20168267@sie.edu.vn</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="ul-info">
                                            <li class="li-info">
                                                <span class="title-info">Phone</span>
                                                <span class="info">+84964419119</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Website</span>
                                                <span class="info">www.khangkhang.me</span>
                                            </li>
                                            <li class="li-info">
                                                <span class="title-info">Nationality</span>
                                                <span class="info">Viet Nam</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="title-links">Social Links</span>
                                        <ul class="ul-social-links">
                                            <li class="li-social-links">
                                                <a href="https://www.facebook.com/khang.trinhngoc" data-tootik="Facebook" data-tootik-conf="square"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="#" data-tootik="Twitter" data-tootik-conf="square"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="#" data-tootik="Google Plus" data-tootik-conf="square"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="#" data-tootik="Linkedin" data-tootik-conf="square"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="#" data-tootik="Dribbble" data-tootik-conf="square"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="#" data-tootik="Pinterest" data-tootik-conf="square"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="#" data-tootik="Vimeo" data-tootik-conf="square"><i class="fab fa-vimeo" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="li-social-links">
                                                <a href="#" data-tootik="Behance" data-tootik-conf="square"><i class="fab fa-behance" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section id="education" class="section section-education wow fadeInUp" data-wow-offset="40" style="visibility: visible; animation-name: fadeInUp;">
            <div class="header-section">
                <h2 class="h2-section">Web</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>Graduation exam</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                    <span class="specialty-name">luyenthidaihoc.herokuapp.com</span>
                                </div>
                            </li>
                            <li class="li-university">
                                <div class="university">
                                    <span class="education-icon"><i class="fa fa-university"></i></span>
                                    <span class="university-name">Type:Website</span>
                                </div>
                            </li>
                        </ul>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                    </div>
                </div>
                <!-- / single education -->
                <!-- single education -->
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>2012 - 2014</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                    <span class="specialty-name">Software Engineering</span>
                                </div>
                            </li>
                            <li class="li-university">
                                <div class="university">
                                    <span class="education-icon"><i class="fa fa-university"></i></span>
                                    <span class="university-name">Oxford University</span>
                                </div>
                            </li>
                        </ul>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                    </div>
                </div>
                <!-- / single education -->
                <!-- single education -->
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>2010 - 2012</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                    <span class="specialty-name">Mobile App Development</span>
                                </div>
                            </li>
                            <li class="li-university">
                                <div class="university">
                                    <span class="education-icon"><i class="fa fa-university"></i></span>
                                    <span class="university-name">Lipro University</span>
                                </div>
                            </li>
                        </ul>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                    </div>
                </div>
                <!-- / single education -->
                <div class="clearfix"></div>
                <!-- single education -->
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>2008 - 2010</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                    <span class="specialty-name">Full Stack Developer</span>
                                </div>
                            </li>
                            <li class="li-university">
                                <div class="university">
                                    <span class="education-icon"><i class="fa fa-university"></i></span>
                                    <span class="university-name">Oxford University</span>
                                </div>
                            </li>
                        </ul>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                    </div>
                </div>
                <!-- / single education -->
                <!-- single education -->
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>2006 - 2008</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                    <span class="specialty-name">Computer Science</span>
                                </div>
                            </li>
                            <li class="li-university">
                                <div class="university">
                                    <span class="education-icon"><i class="fa fa-university"></i></span>
                                    <span class="university-name">Lipro University</span>
                                </div>
                            </li>
                        </ul>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                    </div>
                </div>
                <!-- / single education -->
                <!-- single education -->
                <div class="col-sm-4">
                    <div class="education-content">
                        <div class="period">
                            <h3>2004 - 2006</h3>
                        </div>
                        <ul class="ul-education">
                            <li class="li-specialty">
                                <div class="specialty">
                                    <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                    <span class="specialty-name">Desktop Development</span>
                                </div>
                            </li>
                            <li class="li-university">
                                <div class="university">
                                    <span class="education-icon"><i class="fa fa-university"></i></span>
                                    <span class="university-name">Oxford University</span>
                                </div>
                            </li>
                        </ul>
                        <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>

   </div>   

   

</div> 
</body>
</html>